.wd-modules,
.wd-modules * {
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
}

.wd-modules {
    margin: 5px;
}

.wd-modules > li {
    background-color: lightgray;
    border: 1px solid gray !important;
    border-left: none !important;
}

.wd-modules > li > div {
    padding: 6px;
    border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
    padding: 5px;
    background-color: white;
    border-top: 1px white !important;
    border-left: 2px solid green;
}

.wd-modules > li {
    margin-bottom: 20px;
}

.red-but {
    background-color: red;
    color: white;
    padding: 5px 10px !important;
    margin: 5px !important;
}

.slim-gray-but {
    background-color: darkgray;
    color: black;
    padding: 5px 10px !important;
    margin: 5px !important;
}

.form-control {
    height: 25px !important;
    width: 150px !important;
    margin: 5px !important;
    border: 1px solid black !important;
}

.area {
    display: flex;
    height: 30px !important;
    width: 200px !important;
    margin: 5px !important;
    border: 1px solid black !important;
    justify-content: flex-end;
}

.parent {
    display: flex;
    flex-direction: row;
    list-style: none;
}